/*
 * ---------------------------------------------
 * 1 - Additionals
 * ---------------------------------------------
 */
 
 ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(32, 38, 32);
}

::-webkit-scrollbar-thumb {
    background: rgb(43, 52, 43);
}

::-moz-selection {
    color: rgb(173, 168, 162);
    background: rgb(20, 24, 20);
}

::selection {
    color: rgb(173, 168, 162);
    background: rgb(41, 49, 41);
}


/*
 * ---------------------------------------------
 * 2 - Basic Styles
 * ---------------------------------------------
 */

body {
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: rgb(173, 168, 162) !important;
    z-index: 1;
}

.background-gradient {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1080px;
    background: radial-gradient(at center -10%, rgba(0,0,0,0) 35%, rgba(20,24,20,1) 70%) rgba(20, 24, 20, 0.8);
    top: 0;
    z-index: -1;
}

a {
    color: rgb(166, 205, 99);
    text-decoration: none;
}

a:hover {
    color: rgb(187, 191, 185);
}

a:focus {
    color: rgb(187, 191, 185);
}

.progress {
    border-radius: 0;
    height: 1rem;
    background: rgba(255, 255, 255, 0.1);
    
}

.progress .progress-bar {
    background-color: rgb(166, 205, 99);
}


/*
 * ---------------------------------------------
 * 3 - Buttons
 * ---------------------------------------------
 */
 
.btn {
    border-radius: 0;
    border: 0;
    padding: 8px 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn.btn-success {
    background: rgb(61, 75, 39);
    color: rgb(166, 205, 99);
}

.btn.btn-success:hover {
    background: rgb(88, 108, 57) !important;
}

.btn.btn-success:active {
    background: rgb(61, 75, 39) !important;
}

.btn.btn-primary, .btn.btn-info {
    background: rgb(29, 66, 95);
    color: rgb(72, 154, 212);
}

.btn.btn-primary:hover, .btn.btn-info:hover {
    background: rgb(39, 85, 121);
}

.btn.btn-primary:active, .btn.btn-info:active {
    background: rgb(29, 66, 95);
}

/** LOGIN **/

.logout .btn.btn-primary, .logout .btn.btn-info {
    background: rgb(61, 75, 39);
    color: rgb(166, 205, 99);
}

.logout .btn.btn-primary:hover, .logout .btn.btn-info:hover {
    background: rgb(88, 108, 57);
}

.logout .btn.btn-primary:active, .logout .btn.btn-info:active {
    background: rgb(61, 75, 39);
}

.btn.btn-secondary, .btn.btn-default, .btn.btn-gift {
    background: rgb(89, 85, 82);
    color: rgb(204, 195, 190);
}

.btn.btn-secondary:hover, .btn.btn-default:hover, .btn.btn-gift:hover {
    background: rgb(111, 107, 103);
}

.btn.btn-secondary:active, .btn.btn-default:active, .btn.btn-gift:active {
    background: rgb(89, 85, 82);
}

/** CURRENCY DROPDOWN **/

.open .btn.btn-secondary, .open .btn.btn-default {
    background: rgb(89, 85, 82);
    color: rgb(204, 195, 190);
}

.open .btn.btn-secondary:hover, .open .btn.btn-default:hover {
    background: rgb(111, 107, 103);
}

.open .btn.btn-secondary:active, .open .btn.btn-default:active {
    background: rgb(89, 85, 82);
}

.btn.btn-danger {
    background: rgb(150, 47, 32);
    color: rgb(199, 152, 151);
}

.btn.btn-danger:hover {
    background: rgb(172, 56, 39);
}

.btn.btn-danger:active {
    background: rgb(150, 47, 32);
}


/*
 * ---------------------------------------------
 * 4 - Navigation / Header
 * ---------------------------------------------
 */
 
.navbar.navbar-default {
    margin-top: 50px;
    background-color: rgb(28, 28, 26) !important;
    border-radius: 0 !important;
    margin-bottom: 50px;
    border: 0;
}

.navbar.navbar-default .navbar-nav li a {
    color: rgb(142, 145, 142);
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 10px;
}

.navbar.navbar-default .navbar-nav li a:hover {
    color: rgb(193, 193, 193);
}

.navbar.navbar-default .navbar-nav li.active a {
    color: rgb(193, 193, 193);
}

.navbar.navbar-default .navbar-toggle {
    border-radius: 0 !important;
}

.navbar.navbar-default .navbar-toggle:focus {
    box-shadow: none !important;
}

.navbar.navbar-default .navbar-collapse {
    border: 0 !important;
}

.dropdown-menu {
    background: rgba(32, 36, 32, 1);
    border-radius: 0;
}

.dropdown-menu a {
    color: rgb(220, 211, 202) !important;
}

.dropdown-menu a:hover {
    background: rgba(37, 41, 37, 1) !important;
}

.dropdown-menu li.active a {
    background: rgba(37, 41, 37, 1) !important;
    color: rgb(166, 205, 99) !important;
}

.header .buttons .basket .dropdown-menu .item {
    border-bottom: 0;
}

.logo {
    text-transform: uppercase;
    color: rgb(220, 211, 202);
    font-weight: bold;
}

/*
 * ---------------------------------------------
 * 5 - Content
 * ---------------------------------------------
 */
 
.panel.panel-default {
    font-weight: 300;
    border-radius: 0;
    background: transparent;
    border: 0 !important;
 }
 
.panel.panel-default .panel-heading {
    background: rgba(37, 41, 37, 0.95) !important;
    color: rgb(220, 211, 202);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px 15px;
    border: 0;
}

.panel.panel-default .panel-body {
    background: rgba(32, 36, 32, 0.95) !important;
    padding: 15px;
    font-size: 17px;
}

.table.table-striped tbody tr:nth-child(odd) td {
    background: rgba(37, 41, 37, 1) !important;
}

.table.table-striped tbody tr:nth-child(even) td {
    background: rgba(32, 36, 32, 1) !important;
}

.table.table-striped tr td {
    border: 0 !important;
}

.table thead tr th {
    border: 0;
}

.page-header {
    border-bottom: 0 !important;
}

.featured-package .text .name, .featured-package .text .price {
    font-size: 15px !important;
}

.package .text .name, .package .text .price {
    font-size: 15px !important;
}

.package .img-rounded {
    border-radius: 0 !important;
}

.gift-fields input[type="text"] {
    border-radius: 0 !important;
    border: 0 !important;
    padding: 8px 14px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    min-width: 50px !important;
    height: 42px;
    color: rgb(166, 205, 99) !important;
    background: #323832 !important;
}

.module .payments li { 
    border-bottom: 0 !important; 
}

/*
 * ---------------------------------------------
 * 6 - Checkout
 * ---------------------------------------------
 */

.checkout .packages table tbody .buttons {
    min-width: 180px;
}

.checkout .table .name {
    font-size: 16px !important;
}

.checkout input[type="text"] {
    border-radius: 0 !important;
    border: 0 !important;
    padding: 8px 14px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    min-width: 50px !important;
    height: 42px;
    color: rgb(166, 205, 99) !important;
    background: #323832 !important;
}

.checkout .redeem .btn-primary {
    height: 42px !important;
}

.checkout .table tr th {
    background: #1c201c !important;
}

.checkout .packages table tbody .quantity input {
    height: 42px;
}
 
 
/*
* ---------------------------------------------
* 7 - Modal
* ---------------------------------------------
*/

.modal {
    font-size: 17px;
}

.modal .modal-header {
    border: 0;
    background: rgba(37, 41, 37, 1);
    color: rgb(220, 211, 202);
    text-transform: uppercase;
}

.modal .modal-header h4 {
    font-weight: bold;
}

.modal .modal-header .close {
    color: #fff;
    font-size: 22px;
    font-family: Tahoma, sans-serif;
}

.modal .modal-content {
    #border: 8px solid rgb(31, 32, 26);
    border-radius: 0;
    background: rgba(32, 36, 32, 1);
    color: rgb(173, 168, 162);
}

.modal .modal-body {
    padding: 0;
    padding: 15px;
}

.modal .modal-footer {
    border: 0;
    background: rgb(29, 32, 29);
}

.modal .modal-footer p {
    font-size: 18px;
}
 
/*
 * ---------------------------------------------
 * 8 - Footer
 * ---------------------------------------------
 */
 
.footer {
    background: #101410;
    border: 0;
    padding: 25px;
    font-size: 16px;
}
 
 
 